{% extends 'RTD/base.html' %}

{% block content %}

<div class='row'>
    <div class='col-sm-12' url-endpoint='{% url "api-data" %}'>
        <h1>Charts</h1>
        <button class='btn btn-success' onclick="setChart()">Update all Charts</button>
        <canvas id="myChart" width="800" height="350"></canvas>
        <canvas id="myChart2" width="800" height="350"></canvas>
        <canvas id="myChart3" width="800" height="350"></canvas>
        <button class='btn btn-success' onclick="updateChart()">Refresh</button>
    </div>
</div>

<script>
{% block jquery %}
var endpoint = '/RTD/api/chart/data/'
var defaultData_iulie = []
var labels_iulie = [];
var defaultData_august = []
var labels_august = [];
var defaultData_septembrie = []
var labels_septembrie = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels_iulie = data.labels_iulie
        defaultData_iulie = data.default_iulie
        labels_august = data.labels_august
        defaultData_august = data.default_august
        labels_septembrie = data.labels_septembrie
        defaultData_septembrie = data.default_septembrie
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

var ctx = document.getElementById('myChart');
var ctx2 = document.getElementById('myChart2');
var ctx3 = document.getElementById('myChart3');

function setChart(){
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels_iulie,
                datasets: [{
                    label: 'Iulie',
                    data: defaultData_iulie,
                }]
            }
        })
        var myChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: labels_august,
                datasets: [{
                    label: 'August',
                    data: defaultData_august,
                }]
            }
        })
        var myChart3 = new Chart(ctx3, {
            type: 'line',
            data: {
                labels: labels_septembrie,
                datasets: [{
                    label: 'Septembrie',
                    data: defaultData_septembrie,
                }]
            }
        })
}

function updateChart(){
    var myChart3 = new Chart(ctx3, {
            type: 'line',
            data: {
                labels: labels_septembrie,
                datasets: [{
                    label: 'Septembrie',
                    data: defaultData_septembrie,
                }]
            }
        })
    myChart3.update();
}


{% endblock %}
</script>

{% endblock content %}
