
{% load staticfiles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href = "{% static 'RTD/style.css' %}">

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
<!--
    <link rel="stylesheet" type="text/css" href = "{% static 'RTD/style.css' %}">
<style>
table, th, td {
  border: 1px solid black;
}
</style>
-->
</head>
<body>
<!--

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">RTD</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/RTD/data/">Graph</a>
        </div>
    </div>

</nav>
-->

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">CitiSim</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chart' %}">Graph</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Select</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!--/.Navbar-->

<!--{% if all_energy %} -->
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Source</th>
            <th scope="col">Time</th>
            <th scope="col">Value</th>
          </tr>
          </thead>
            <tbody>
            {% for e in all_energy %}
            <tr>
                <td><a href="/RTD/{{ e.idd }}/">{{ e.idd }}</a></td>
                <td><a href="/RTD/{{ e.source }}/">{{ e.source}} </a></td>
                <td>{{ e.time_string }} </td>
                <td>{{ e.data }} </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
<!--
{% else %}
    <h3>Nu ai date despre energie</h3>
{% endif %}
-->
</body>
</html>
